#error {
	display: none;
	background: red;
	color: white;
}

#send {
	display: none;
}

form {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
}
form > * {
	display: table-row;
}
form > * > * {
	display: table-cell;
	vertical-align: middle;
}

#curl-button {
	margin-left: 5px;
}

#curl {
	display: none;
}
#curl > pre {
	white-space: pre-wrap;
	background-color: #eee;
	padding: 1em;
}
